.Container{
    background-color: rgb(235, 206, 163);
    margin: 5px;
    border: 1px solid black;
}
.top .sus {
    border: 1px solid black;
    margin: 5px;
    height: 50px;
}
.Center_table{
    display: flex;
    width: 100%;
}
.Center_table .right_table {
    display: flex;
    flex-direction: column;
}
.table {
    border: 1px solid black;
    margin: 5px;
    height: 100px;
    width: 100%;
}
aside{
    display: flex;
    border: 1px solid black;
    margin: 5px;  
    width: 70%;
}
footer{
    border: 1px solid black;
    margin: 5px;
}